In [1]:
# this is a single line comment
"""
this is multiline comment
"""

'\nthis is multiline comment\n'

# Variable

In [2]:
# varible 
var = 20

In [3]:
print(var)

20

In [4]:
var

20

In [5]:
id(var)

140733277354368

In [8]:
var1, var2, var3 = 10, 20, 30
var1, var2, var3

(10, 20, 30)

In [9]:
# warning
var4
4var
@var
var@

NameError: name 'var4' is not defined

# Data Type

In [10]:
# int, float, string
var_int = 10
var_float = 20.50
var_string = "This is a String data"
var_string2= 'a'
var_int, var_float, var_string, var_string2

(10, 20.5, 'This is a String data', 'a')

In [11]:
type(var_int), type(var_float), type(var_string), type(var_string2)

(int, float, str, str)

In [12]:
# warning
s = 'it's a string'

SyntaxError: invalid syntax (<ipython-input-12-fa2f0e2cbeeb>, line 2)

In [14]:
s = "it's a string"
s

"it's a string"

In [15]:
# boolean
a = True
b = False
a, b

(True, False)

In [16]:
True is True

True

In [17]:
False is True

False

In [18]:
True is False

False

In [19]:
False is False

True

In [20]:
a is a

True

In [21]:
a is b

False

In [25]:
1 is 1

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-25-c4ba21148a2b>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 1

True

In [23]:
1 is 0

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-23-1adb8922bcde>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  1 is 0

False

# conditions

In [29]:
# if , elif, else
if 10 != 10:
    print("yes it's true")
else:
    print("no 10 and 10 are equals")

no 10 and 10 are equals

In [34]:
# conditional ladder
if 10 != 10:
    print("first statement is true")
elif 11 < 10:
    print("Second statement is true")
elif 9 < 10:
    print("Third statement is true")
else:
    print("There is not true statement")

Third statement is true

In [39]:
# nested condition
if 10 == 10:
    print('yes it is true')
    if 9<10:
        print("that's also true")
        if 11 < 10:
            print("always true")
        else:
            print("no 11 is grater then 10")
    else:
        print("no 9 is smaller then 10")
else:
    print("no true statement")

yes it is true
that's also true
no 11 is grater then 10

# Loops

In [43]:
# for
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
# while
i=1
n=10
while i<n:
    print(i)
    i+=3 # i = i+1

1
4
7

In [47]:
# for
for i in range(1, 10, 3):
    print(i)

1
4
7

In [50]:
# 10 X 2 = 20
for i in range(1, 11):
    print("10 X", i, "=", 10*i)

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

# Data Structure / Collections

In [52]:
# 1. list, 2. tuple, 3. set, 4. Dictionary

### list

In [151]:
# list declaration 
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [56]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
lst1 = [1, 2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4, 10.50] # 0 -> n-1 = 10-1=9
lst1

[1, 2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4, 10.5]

In [58]:
# indexing
lst1[0], lst1[9]

(1, 10.5)

In [59]:
lst1[10]

IndexError: list index out of range

In [60]:
# slicing
l[0:4]

[1, 2, 3, 4]

In [61]:
l[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
l[-1:]

[10]

In [69]:
l[-3:]

[8, 9, 10]

In [70]:
l[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
# list value external value
l.append(11)

In [150]:
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [76]:
l.append([12, 13, 14])

In [77]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, [12, 13, 14]]

In [78]:
# nested list
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
l = [l1, l2, l3]
l

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [79]:
l[0]

[1, 2, 3]

In [80]:
l[0][1]

2

In [81]:
l[1][2]

6

In [89]:
l1.index(2)

1

In [90]:
lst1

[1, 2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4, 10.5]

In [105]:
lst1.pop()

IndexError: pop from empty list

In [92]:
lst1

[1, 2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4]

In [94]:
lst1.pop(0)

1

In [95]:
lst1

[2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4]

In [108]:
lst1

[1, 2, 3, 4, 'five', 'six', 'seven', 8.5, 9.4, 10.5]

In [109]:
lst1.reverse()

In [110]:
lst1

[10.5, 9.4, 8.5, 'seven', 'six', 'five', 4, 3, 2, 1]

In [131]:
lst2 = [2, 5, 32,56 ,5 ,3, 45, 7, 5,6, 7,4, 34,5, 64,5 ]
lst2

[2, 5, 32, 56, 5, 3, 45, 7, 5, 6, 7, 4, 34, 5, 64, 5]

In [133]:
lst2.count(5)

5

In [113]:
lst2.sort()

In [114]:
lst2

[2, 3, 4, 5, 5, 5, 5, 5, 6, 7, 7, 32, 34, 45, 56, 64]

In [116]:
# list mutable
lst2[0] = 20

In [117]:
lst2[0]

20

In [118]:
lst2

[20, 3, 4, 5, 5, 5, 5, 5, 6, 7, 7, 32, 34, 45, 56, 64]

### tuple

In [119]:
t = (1, 2, 3, 5, 67, 5)

In [153]:
for i in t:
    print(i)

1
2
3
5
67
5

In [120]:
t

(1, 2, 3, 5, 67, 5)

In [121]:
t[0]

1

In [123]:
# immutable
t[0] = 10

TypeError: 'tuple' object does not support item assignment

In [124]:
t[0:3]

(1, 2, 3)

In [125]:
t.index(2)

1

In [134]:
t.count(2)

1

### set

In [135]:
s = {1, 2, 3, 45, 6, 4}
s

{1, 2, 3, 4, 6, 45}

In [136]:
s[1]

TypeError: 'set' object is not subscriptable

In [137]:
s = {12, 12, 1,2 ,12}
s

{1, 2, 12}

### dictionaries

In [143]:
# key value pair
d = {'key1':10, 'key2':20, 'key3':30}

In [144]:
type(d)

dict

In [145]:
d

{'key1': 10, 'key2': 20, 'key3': 30}

In [147]:
d['key1'], d['key2']

(10, 20)

In [148]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [149]:
d.values()

dict_values([10, 20, 30])

In [155]:
for i, j in d.items():
    print(i, j)

key1 10
key2 20
key3 30

In [156]:
d['key1'] = 100

In [157]:
d

{'key1': 100, 'key2': 20, 'key3': 30}

In [158]:
d['key4'] = 200

In [159]:
d

{'key1': 100, 'key2': 20, 'key3': 30, 'key4': 200}