In [1]:
# file handeling, functions, exception handeling, opp

# File handling

In [7]:
# file handeling, exception handeling
try:
    #statement
    file = open("test.txt", "w")
except Exception as e:
    # statement
    print(e)

In [11]:
try:
    file = open('test.txt', 'w')
    file.write("Welcome to data science course\n")
    file.write("This is a second line")
    file.close()
except Exception as e:
    print(e)

In [13]:
try:
    file = open('test.txt', 'r')
    read = file.readlines()
    print(read)
    file.close()
except Exception as e:
    print(e)

['Welcome to data science course\n', 'This is a second line']

In [14]:
try:
    file = open('test.txt', 'r')
    read = file.readlines()
    for i in read:
        print(i)
    file.close()
except Exception as e:
    print(e)

Welcome to data science course

This is a second line

In [17]:
try:
    2/0
except ZeroDivisionError as e:
    print(e)

division by zero

In [25]:
try:
    a = int(input())
    print(100/a)
except ZeroDivisionError as e:
    print(e)
except ValueError as e:
    print(e)

as
invalid literal for int() with base 10: 'as'

In [27]:
try:
    a = int(input())
    print(100/a)
except Exception as e:
    print(e)

as
invalid literal for int() with base 10: 'as'

# functions

In [28]:
# functions
def divideanumber():
#statement
    try:
        a = int(input())
        print(100/a)
    except ZeroDivisionError as e:
        print(e)
    except ValueError as e:
        print(e)

In [31]:
divideanumber()

0
division by zero

In [49]:
# recurtion functions
def divideanumber2():
#statement
    while True:
        try:
            a = int(input())
            print(100/a)
            break
        except Exception as e:
            print(e)
            divideanumber2()
            break

In [52]:
divideanumber2()

0
division by zero
asd
invalid literal for int() with base 10: 'asd'
20
5.0

# OOP

#### Class

In [74]:
class Student:
    # attributes, functions
    # attr, global variable, instance
    stu_id = 0
    stu_fname = ""
    stu_lname = ""
    stu_dept = ""
    
    # constructor
    def __init__(self, stu_id, fname, lname, dept):
        self.stu_id = stu_id
        self.stu_fname = fname
        self.stu_lname= lname
        self.stu_dept = dept
        
    def setname(self, fname, lname):
        self.stu_fname = fname
        self.stu_lname = lname
    
    def getname(self):
        return self.stu_fname+" "+self.stu_lname
        
    def __str__(self):
        return "{} {} {} {}".format(self.stu_id, self.stu_fname, self.stu_lname, self.stu_dept)

In [75]:
# create an object
student = Student(1001, "Tamim", "Iqbal", "CSE")

In [64]:
student.stu_id

1001

In [65]:
student.stu_fname

'Tamim'

In [66]:
student.stu_lname

'Iqbal'

In [73]:
print(student)

1001 Tamim Iqbal CSE

In [76]:
student.setname("Shariar", "Hossain")

In [77]:
student.getname()

'Shariar Hossain'

# abstraction, encapsulation, inheritance

In [78]:
# import module
from abc import ABC

In [79]:
# abstractions class
class employee(ABC):
    def getempname(self):
        pass
    def getdept(self):
        pass

In [87]:
# inheritance
class emp_info(employee):
    # encapsulation -> private(__), protected(_), public
    def __init__(self, name, dept):
        self.__name = name
        self.__dept = dept
    
    def getempname(self):
        return self.__name
    
    def getdept(self):
        return self.__dept
    
    def __str__(self):
        return self.__name+" "+self.__dept

In [88]:
emp = emp_info("Tamim", "Iqbal")

In [89]:
print(emp)

Tamim Iqbal

In [90]:
emp.getempname(), emp.getdept()

('Tamim', 'Iqbal')

In [91]:
# multiple inheritance and multilevel inheritance

In [92]:
# multiple inherit
class Example(Student, employee):
    
    def __init__(self, stu_id, fname, lname, dept, ex):
        super().__init__(stu_id, fname, lname, dept)

In [93]:
# multilevel inherit

In [94]:
class emp_acc(emp_info):
    pass

In [96]:
e = emp_acc("Sahin", "Ahmed")

In [97]:
e.getempname()

'Sahin'